## Problem 1
Dataset from Kaggle: "House Prices Competition"<br>
Source:https://www.kaggle.com/c/house-prices-advanced-regression-techniques<br>
***
#### Essential Libraries
>NumPy : Library for Numeric Computations in Python<br>
>Pandas : Library for Data Acquisition and Preparation<br>
>Matplotlib : Low-level library for Data Visualization<br>
>Seaborn : Higher-level library for Data Visualization<br>

In [3]:
# Basic Libraries
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
sb.set # set the default Seaborn style for graphics

#### a) Import Dataset
The dataset is in CSV format; hence we use the `read_csv` function from Pandas. Immediately after importing, take a quick look at the data using the `head` function.

In [14]:
housedata = pd.read_csv('train.csv')
housedata.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

**b)** Check the variables (and their types) in the dataset using the `dtypes` attributes.

In [15]:
print(housedata.dtypes)

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 81, dtype: object

**c)**  Extract only the variables (columns) of type Integer (int64), and store as a new Pandas DataFrame using `select_dtypes` attributes. <br>

In [19]:
house_data_num = housedata.select_dtypes(include = np.int64)
print("Data dims: ", house_data_num.shape)
print(house_data_num.info())

Data dims:  (1460, 35)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 35 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   LotArea        1460 non-null   int64
 3   OverallQual    1460 non-null   int64
 4   OverallCond    1460 non-null   int64
 5   YearBuilt      1460 non-null   int64
 6   YearRemodAdd   1460 non-null   int64
 7   BsmtFinSF1     1460 non-null   int64
 8   BsmtFinSF2     1460 non-null   int64
 9   BsmtUnfSF      1460 non-null   int64
 10  TotalBsmtSF    1460 non-null   int64
 11  1stFlrSF       1460 non-null   int64
 12  2ndFlrSF       1460 non-null   int64
 13  LowQualFinSF   1460 non-null   int64
 14  GrLivArea      1460 non-null   int64
 15  BsmtFullBath   1460 non-null   int64
 16  BsmtHalfBath   1460 non-null   int64
 17  FullBath       1460 non-null   int64
 18  HalfBath       1460 non-null   int64
 19  BedroomAbvGr   1460 non-null   int64
 20  KitchenAbvGr   1460 non-null   int64
 21  TotRmsAbvGrd   1460 non-null   int64
 22  Fireplaces     1460 non-null   int64
 23  GarageCars     1460 non-null   int64
 24  GarageArea     1460 non-null   int64
 25  WoodDeckSF     1460 non-null   int64
 26  OpenPorchSF    1460 non-null   int64
 27  EnclosedPorch  1460 non-null   int64
 28  3SsnPorch      1460 non-null   int64
 29  ScreenPorch    1460 non-null   int64
 30  PoolArea       1460 non-null   int64
 31  MiscVal        1460 non-null   int64
 32  MoSold         1460 non-null   int64
 33  YrSold         1460 non-null   int64
 34  SalePrice      1460 non-null   int64
dtypes: int64(35)
memory usage: 399.3 KB
None

Alternative way to extract int64 using `.loc` attribute.

In [20]:
houseDataNum = housedata.loc[:, housedata.dtypes == np.int64]
houseDataNum.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 35 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   LotArea        1460 non-null   int64
 3   OverallQual    1460 non-null   int64
 4   OverallCond    1460 non-null   int64
 5   YearBuilt      1460 non-null   int64
 6   YearRemodAdd   1460 non-null   int64
 7   BsmtFinSF1     1460 non-null   int64
 8   BsmtFinSF2     1460 non-null   int64
 9   BsmtUnfSF      1460 non-null   int64
 10  TotalBsmtSF    1460 non-null   int64
 11  1stFlrSF       1460 non-null   int64
 12  2ndFlrSF       1460 non-null   int64
 13  LowQualFinSF   1460 non-null   int64
 14  GrLivArea      1460 non-null   int64
 15  BsmtFullBath   1460 non-null   int64
 16  BsmtHalfBath   1460 non-null   int64
 17  FullBath       1460 non-null   int64
 18  HalfBath       1460 non-null   int64
 19  BedroomAbvGr   1460 non-null   int64
 20  KitchenAbvGr   1460 non-null   int64
 21  TotRmsAbvGrd   1460 non-null   int64
 22  Fireplaces     1460 non-null   int64
 23  GarageCars     1460 non-null   int64
 24  GarageArea     1460 non-null   int64
 25  WoodDeckSF     1460 non-null   int64
 26  OpenPorchSF    1460 non-null   int64
 27  EnclosedPorch  1460 non-null   int64
 28  3SsnPorch      1460 non-null   int64
 29  ScreenPorch    1460 non-null   int64
 30  PoolArea       1460 non-null   int64
 31  MiscVal        1460 non-null   int64
 32  MoSold         1460 non-null   int64
 33  YrSold         1460 non-null   int64
 34  SalePrice      1460 non-null   int64
dtypes: int64(35)
memory usage: 399.3 KB

**d)** Read "data_description.txt" (from the Kaggle data folder) to identify the actual Numeric variables. <br>
    Note : You have to manually read through the text file, and try to judge the actual variable types.

**e)** Drop non-Numeric variables from the DataFrame to have a clean DataFrame with Numeric variables using `.drop`function
Drop: MSSubClass, OverallQual, OverallCond, YearBuilt, YearRemodAdd, MoSold, YoSold

In [22]:
houseDataNum.drop(['MSSubClass', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'MoSold', 'YrSold'], axis=1)

,Id,LotArea,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,...,GarageCars,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,SalePrice
0,1,8450,706,0,150,856,856,854,0,1710,...,2,548,0,61,0,0,0,0,0,208500
1,2,9600,978,0,284,1262,1262,0,0,1262,...,2,460,298,0,0,0,0,0,0,181500
2,3,11250,486,0,434,920,920,866,0,1786,...,2,608,0,42,0,0,0,0,0,223500
3,4,9550,216,0,540,756,961,756,0,1717,...,3,642,0,35,272,0,0,0,0,140000
4,5,14260,655,0,490,1145,1145,1053,0,2198,...,3,836,192,84,0,0,0,0,0,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,7917,0,0,953,953,953,694,0,1647,...,2,460,0,40,0,0,0,0,0,175000
1456,1457,13175,790,163,589,1542,2073,0,0,2073,...,2,500,349,0,0,0,0,0,0,210000
1457,1458,9042,275,0,877,1152,1188,1152,0,2340,...,1,252,0,60,0,0,0,0,2500,266500
1458,1459,9717,49,1029,0,1078,1078,0,0,1078,...,1,240,366,0,112,0,0,0,0,142125
1459,1460,9937,830,290,136,1256,1256,0,0,1256,...,1,276,736,68,0,0,0,0,0,147500

***
## Problem 2

a) Refer to Extract single variable 
b)